@import "src/assets/styles/variables";

.location-history {
  position: relative;

  display: flex;
  flex-direction: column;

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 1s;

    &--open {
      transform: rotate(360deg);
    }
  }

  &__icon {
    width: 23px;
    height: 23px;
  }


}
