@import "src/assets/styles/variables";

.forecast {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &__loader {
    margin-top: 50px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;

    &--name {
      margin: 0 auto;
      font-size: 18px;
    }

    &--item {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 5px;
    background-color: $third-bg-color;
    border-radius: 5px;
    transition: $main-transition;
    border: 0.1px solid $main-border-color;

    &:hover:not(.forecast__buttons--disabled) {
      background-color: $hover-bg-color;
    }

    &:active:not(.forecast__buttons--disabled) {
      background-color: $active-bg-color;
    }

    &--item {
      width: 30px;
      height: 30px;
    }

    &--disabled {
      background-color: $secondary-bg-color;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
    width: 20%;
    //background-color: $third-bg-color;
    border: 0.1px solid $main-border-color;
    border-radius: 5px;

    &--time {
      font-size: 18px;
      text-align: center;
    }

    &--temp {
      font-size: 16px;
    }

    &--icon {
      width: 50px;
      height: 50px;
    }

    &--weather {
      font-size: 20px;
    }

    &--button {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 5px 10px;
      margin-top: 5px;
      background-color: $third-bg-color;
      border-radius: 5px;
      transition: $main-transition;
      border: 0.1px solid $main-border-color;

      &:hover:not(.forecast__item--button--active) {
        background-color: $hover-bg-color;
      }

      &--active {
        background-color: $active-bg-color
      }
    }

    &--show-more {
      height: 15px;
      width: 15px;
    }
  }

  &__selected-name {
    margin: 30px auto 0;
    font-size: 20px;
  }
}

.aaa {
  animation: Top 5s;
  z-index: 1;
  position: absolute;
  top: 650px;
}

@keyframes Top {
  from {
    transform: translateY(-500px);
  }

  to {
    transform: translateY(0);
  }
}