@import "src/assets/styles/variables";

.city-search {
  display: flex;
  align-items: center;
  position: relative;

  &__input {
    width: 250px;
    height: 30px;
    background-color: $main-bg-color;
    border: 0.5px solid $main-font-color;
    color: $secondary-font-color;
    margin: 0.5px;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 40px;
    outline: none;
    text-transform: capitalize;

    &::placeholder {
      color: $main-font-color;
    }

    &:focus {
      margin: 0;
      border: 1px solid $active-bg-color;
      box-shadow: rgba(0, 0, 0, 0.16) 0 1px 1px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 3px;
    border: 0;
    //border-top: 0;
    //border-right: 0;
    //border-bottom: 0;
    //border-left: 0.5px solid $main-font-color;
    background: none;
    cursor: pointer;

    //&:hover {
    //  background-color: #FFFFFF;
    //}
  }

  &__icon {
    width: 16px;
    height: 16px;
  }
}
