@import "src/assets/styles/variables";

.temp-buttons {
  margin-left: 5px;
  display: flex;
  align-items: center;

  &__item {
    text-align: center;
    font-size: 14px;
    margin: 0 4px;
    padding: 4px 6px;
    border: 0;
    background-color: transparent;
    color: $main-font-color;
    cursor: pointer;
    transition: 0.3s;

    &--selected {
      font-size: 20px;
      transition: 0.3s;
      background-color: $main-bg-color;
      //border: 0.5px solid $main-font-color;
      border-radius: 5px;
    }
  }
}
