@import "src/assets/styles/variables";

.weather-or-forecast {
  &__button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: $main-font-color;
    padding: 5px 10px;
    cursor: pointer;
    transition: $main-transition;
    border-radius: 5px;

    &--selected {
      color: $secondary-font-color;
      background: $third-bg-color;
      border: 0.1px solid $main-border-color;
    }
  }
}
