$main-bg-color: #f8f8f8;
$secondary-bg-color: #e8e8e8;
$third-bg-color: #dedede;

$main-font-color: #686868;
$secondary-font-color: #424242;

$main-border-color: #c7c7c7;

$border-radius: 5px;
$main-font-size: 16px;