$main-bg-color: #f8f8f8;
$secondary-bg-color: #e8e8e8;
$third-bg-color: #dedede;
$third-bg-color: #dedede;

$hover-bg-color: #c4c4c4;
$secondary-hover-bg-color: #4d4d4d;
$active-bg-color: #afafaf;

$main-font-color: #686868;
$secondary-font-color: #505050;

$main-border-color: #c7c7c7;

$border-radius: 5px;
$main-font-size: 16px;

$main-transition: 0.5s;