@import "src/assets/styles/variables";

.home {
  display: flex;
  justify-content: center;
  height: 100vh;

  &__container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__left-side {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 15px;
    margin: 15px;

    border: 0.1px solid $main-border-color;
    border-radius: $border-radius;
    background-color: $secondary-bg-color;

    &__not-found {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &--image {
        margin-top: 150px;
      }

      &--text {
        margin-top: 10px;
        font-size: 20px;
      }

      &--text-small {
        font-size: 16px;
      }
    }

    &__name {
      font-size: 18px;
      font-weight: normal;
      margin: 30px auto 0;
      padding: 5px 10px;

      color: $secondary-font-color;
      border: 0.1px solid $main-border-color;
      border-radius: 5px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-top: 30px;
      padding: 0;

      &--item {
        box-sizing: border-box;
        width: max-content;
        list-style: none;
        margin: 5px 0;
        padding: 0 10px;
        font-size: 20px;
        text-transform: capitalize;
        cursor: pointer;
        border-radius: 5px;
        transition: 1s;
        border: 0.1px solid $secondary-bg-color;

        &:hover {
          color: $secondary-font-color;
          background: $third-bg-color;
          border-color: $main-border-color;
        }

        &:active {
          background-color: $active-bg-color;
        }
      }
    }
  }

  &__search-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  &__loader {
    margin-top: 50px;
  }

  &__right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding: 15px;
    margin: 15px 15px 15px 0;

    border: 0.1px solid $main-border-color;
    border-radius: $border-radius;
    background-color: $secondary-bg-color;

    &__button {
      border: none;
      background-color: transparent;
      font-size: 20px;
      color: $main-font-color;
      padding: 5px 10px;
      cursor: pointer;
      transition: $main-transition;
      border-radius: 5px;

      &--selected {
        color: $secondary-font-color;
        background: $third-bg-color;
        border: 0.1px solid $main-border-color;
      }
    }
  }
}

//@keyframes RightSideArrive {
//  from {
//    transform: translateX(500px);
//  }
//
//  to {
//    transform: translateX(0);
//  }
//}